

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0b1424;
    color: #fff;
}

/*styling of scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #6c49eb;
    border-radius: 10px;
}


/*styling of container*/
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
    padding: 20px;
}

/*styling of leaderboard*/
.leaderboard-section, .match-section {
   width: 100%;
}

.leaderboard {
    background-color: #0b1b38;
    box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.leaderboard-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

    .leaderboard-header h2 {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
    }

.elo-button {
    margin-bottom: 15px;
    background-color: #0b1b38;
    border: 3px solid #6c49eb;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

    .elo-button:hover {
        background-color: #6c49eb;
    }

    .elo-button.active {
        background-color: #6c49eb;
        color: #fff;
    }

.leaderboard table {
    width: 100%;
    overflow: scroll;
    border-collapse: collapse;
}

    .leaderboard table thead {
        display: table-header-group;
        background-color: #6c49eb;
        border-radius: 10px;
    }


        .leaderboard table thead tr {
            display: table-row;
        }

        .leaderboard table thead th {
            text-align: left;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;
        }

            .leaderboard table thead th:first-child {
                text-align: center;
            }

            .leaderboard table thead th:first-child {
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }

            .leaderboard table thead th:last-child {
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
            }

    .leaderboard table tbody {
        display: table-body-group;
    }

        .leaderboard table tbody tr {
            display: table-row;
        }

        .leaderboard table tbody td {
            text-align: left;
            padding: 10px;
            font-size: 20px;
        }

            .leaderboard table tbody td:first-child {
                text-align: center;
                font-weight: bold;
            }


/*styling of ongoing match*/

.ongoing-match {
    background-color: #0b1b38;
    box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 50vh;
    width: 100%;
}

    .ongoing-match h2 {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
    }

.match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match-time {
    font-size: 20px;
    font-weight: bold;
}

.match-team {
    display: grid;
    align-items: center;
    justify-content: center;
}

    .match-team .team-red {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: red;
    }

    .match-team .team-blue {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: blue;
    }

    .match-team .team p{
        text-align: center;
        font-size: 15px;
    }

    .match-score .dash {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }

    .match-score .score {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }


/*styling of match history*/

.match-history {
    background-color: #0b1b38;
    box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    height: 50vh;
    width: 100%;
    overflow-y: auto;
}

    .match-history h2 {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
    }

    .match-history .history-item {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        background-color: #0b1424;
        padding: 10px;
        border: 3px solid #6c49eb;
        border-radius: 20px;
    }

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #6c49eb;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination a:hover {
    background-color: #4a36c4;
    transform: scale(1.1);
}

.pagination a.disabled {
    background-color: #ccc;
    pointer-events: none;
}

.pagination span {
    margin: 0 5px;
    font-size: 18px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoomIn 0.7s ease-in-out;
}


@keyframes bounceIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.bounce-in {
    animation: bounceIn 0.7s ease-in-out;
}
