* {
}

.body {
}
.navbar {
    background-color: #a48bff; !important;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-icon {
    height: 40px;
    cursor: pointer;
    margin-left: auto;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}


    

        
    
