body {
    font-family: Arial, sans-serif;
    background-color: #0e0e1d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    width: 300px;
    background-color: #1b1b2f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    color: #ffffff;
}

#firstName, #lastName, #email, #password {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #333344;
    color: #ffffff;
}

/*
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #333344;
    color: #ffffff;
}
*/

.text-danger {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

button {
    background-color: #6c5ce7;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a4abd;
}
