@model TModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form asp-controller="Login" asp-action="Logout" id="logout" class="form-inline">
        <button type="submit" class="btn btn-link">Logout</button>
    </form>
</div>
</body>
</html>