
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layoutHomepage.css" />
</head>
<body>
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="~/wexologo.png" alt="Logo" style="height: 40px;">
        </a>
        <div class="profile-dropdown">
            <img src="~/profileicon.png" alt="Profile Icon" class="profile-icon" id="profileIcon">
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="/Login/Logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 70px;">
    @RenderBody()
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/layouthomepage.js"></script>
</body>
</html>