@model FoosballProLeague.Webserver.Models.LoginUserModel

@{
Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoosballProLeague</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="login-container">
    <div class="login-sidebar">
        <h1>FPL</h1>
    </div>
    <div class="login-form">
        <div class="login-box">
            <h2>Welcome</h2>
            <form id="loginForm" asp-action="LoginUser" asp-controller="Login" method="post">
                <input type="text" placeholder="Email" id="email" asp-for="Email" required />
                <div class="password-container">
                    <input type="password" placeholder="Password" id="password" asp-for="Password" required />
                    <img id="togglePassword" class="toggle-password" src="~/eyepasswordvisibility.svg" alt="Toggle Password Visibility" />
                </div>
                <button type="submit" class="login">Sign in</button>
            </form>
            @if (!ViewData.ModelState.IsValid)
            {
            <div class="errormessage">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                <p>@error.ErrorMessage</p>
                }
            </div>
            }
            <form action="/Registration" method="get">
                <button type="submit" class="create-profile">Create profile</button>
            </form>
        </div>
    </div>
</div>
<script src="~/js/login.js"></script>
</body>
</html>