
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="~/css/resetPassword.css">
</head>
<body>
    <div class="form-container">
        <a class="button back-button" asp-controller="Login" asp-action="Login">Back</a>
        <h1>Forgot your password?</h1>
        <form asp-action="UpdatePasswordByEmail" method="put">

            <label for="email">Email</label>
            <input type="email" id="email" name="Email" asp-for="Email" required>
            <span asp-validation-for="Email" class="text-danger"></span>

            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>

